body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3b383;
  }
  
  div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #141414;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #cbcdcf;
    font-family: oswald;
    text-decoration: underline;
  }
  
  p {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #bfcaca;
    
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }